.footer__container {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer {
  height: 146px;
}
.footer__service {
  height: 132px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__col {
  display: flex;
  align-items: center;
}
.footer__col--align--right {
  align-items: flex-end;
}

.contacts__desc {
  color: #9a9a9a;
  font-size: 11px;
  line-height: 20px;
  font-style: normal;
  text-align: end;
}
.social__link {
  display: block;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}
.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__list {
  margin-left: 200px;
}
.social__item--tel .social__link {
  background-image: url("../../jpg/telegram.png");
}
.social__item--tel .social__link:hover {
  background-image: url("../../jpg/tn.png");
}
.social__item--vk .social__link {
  background-image: url("../../jpg/vk.png");
}
.social__item--vk .social__link:hover {
  background-image: url("../../jpg/vkn.png");
}
.social__item--fb .social__link {
  background-image: url("../../jpg/f.png");
}
.social__item--fb .social__link:hover {
  background-image: url("../../jpg/f2n.png");
}
.social__item--ins .social__link {
  background-image: url("../../jpg/in.png");
}
.social__item--ins .social__link:hover {
  background-image: url("../../jpg/inn.png");
}
