.footer__container {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer {
  height: 146px;
}
.footer__service {
  height: 132px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__col {
  display: flex;
  align-items: center;
}
.footer__col--align--right {
  align-items: flex-end;
}

.contacts__desc {
  color: #9a9a9a;
  font-size: 11px;
  line-height: 20px;
  font-style: normal;
  text-align: end;
}
.social__link {
  display: block;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
  position: relative;
}
.social__item {
  margin-right: 8px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__list {
  margin-left: 200px;
  display: flex;
  align-items: center;
}
.social__link--tel::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: url(../../jpg/sprite.png);
  background-position: -72px 0px;
  width: 36px;
  height: 36px;
}
.social__link--tel::before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: url(../../jpg/sprite.png);
  background-position: -72px -36px;
  width: 36px;
  height: 36px;
  opacity: 0;
}
.social__link--tel:hover::after {
  opacity: 0;
  transition: 0.3s;
}

.social__link--tel:hover::before {
  opacity: 1;
}
.social__link--vk::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: url(../../jpg/sprite.png);
  background-position: 0px -72px;
  width: 36px;
  height: 36px;
}
.social__link--vk::before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: url(../../jpg/sprite.png);
  background-position: -36px -72px;
  width: 36px;
  height: 36px;
  opacity: 0;
}
.social__link--vk:hover::after {
  opacity: 0;
  transition: 0.3s;
}

.social__link--vk:hover::before {
  opacity: 1;
}

.social__link--fb::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: url(../../jpg/sprite.png);
  background-position: 0px 0px;
  width: 36px;
  height: 36px;
}
.social__link--fb::before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: url(../../jpg/sprite.png);
  background-position: -36px 0px;
  width: 36px;
  height: 36px;
  opacity: 0;
}
.social__link--fb:hover::after {
  opacity: 0;
  transition: 0.3s;
}

.social__link--fb:hover::before {
  opacity: 1;
}

.social__link--ins::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: url(../../jpg/sprite.png);
  background-position: 0px -36px;
  width: 36px;
  height: 36px;
}
.social__link--ins::before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: url(../../jpg/sprite.png);
  background-position: -36px -36px;
  width: 36px;
  height: 36px;
  opacity: 0;
}
.social__link--ins:hover::after {
  opacity: 0;
  transition: 0.3s;
}

.social__link--ins:hover::before {
  opacity: 1;
}
