.intro {
  margin-bottom: 252px;
}
.intro__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 360px;
}
.intro__text-section {
  width: 45%;
}
.intro__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 100px;
  margin-bottom: 28px;
}
.intro__text {
  font-size: 18px;
  margin-bottom: 32px;
}

