.intro {
  margin-bottom: 250px;
}
.intro__title {
  width: 520px;
  font-size: 72px;
  font-weight: bold;
  line-height: 100px;
  margin-bottom: 25px;
}
.intro__text {
  font-size: 18px;
  margin-bottom: 30px;
}
.button {
  background: #f5170e;
  border-radius: 35px;
  padding: 18px 40px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
}
