.offers {
  margin-bottom: 130px;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.title--fire {
  margin-bottom: 54px;
}
.title--fire::after {
  padding-left: 12px;
  content: url(../../jpg/flame.png);
}
.offers__list {
  display: flex;
  justify-content: space-between;
}
.offers__item {
  min-height: 450px;
  width: calc(100% / 3 - 18px);
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}
.offers__item:last-child {
  margin-right: 0;
}
.offers__img {
  min-height: 145px;
  margin-bottom: 10px;
}
.offers__content {
  padding: 25px 22px;
  color: #000000;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.offers__future {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offers__features {
  display: flex;
  margin-bottom: 23px;
}
.offers__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 23px;
}
.offers__future-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-left: 10px;
  margin-right: 28px;
  color: #666666;
}
.offers__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #303030;
  margin-bottom: 25px;
}
.button--light {
  text-transform: uppercase;
  color: #f5170e;
  background: #ffffff;
  border: 1px solid #f5170e;
}
.button--red {
  color: #ffffff;
}
.button--offers {
  padding: 18px 30px;
}
.offer__btn-wrapper {
  margin-top: auto;
}
