.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginator__display {
  margin-right: 26px;
}
.paginator__list {
  display: flex;
  align-items: center;
}
.paginator__item {
  text-align: center;
}
.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: bold;
  line-height: 32px;
}
.paginator__item--active .paginator__link {
  background: #ffffff;
  color: #f5170e;
}
.paginator__link:hover {
  background: #ffffff;
  color: #f5170e;
}
.pager--theme--dark {
  color: #000000;
}
.pager--theme--dark .paginator__item--active .paginator__link {
  background: #f5170e;
  color: #ffffff;
}
.pager--theme--dark .paginator__link:hover {
  background: #f5170e;
  color: #ffffff;
}
