.partners {
  background: #f4f5f5;
  padding-top: 88px;
  padding-bottom: 80px;
}
.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 250px;
}
.partners__item {
  margin-right: 50px;
}
.partners__item:nth-child(4n) {
  margin-right: 0px;
}
.partners__logo:hover {
  filter: grayscale(0);
}

.partners__logo {
  filter: grayscale(1);
}
.partners__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #1a1b1e;
  margin-bottom: 58px;
}
